<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Urban Savasana</title>
    <link rel="stylesheet" href="style.css">
    <script src="script.js"></script>
    <script src="http://localhost:35729/livereload.js"></script>
  </head>
  <body>
    <!-- page content -->
  <h1>Urban Savasana</h1>
  <h2>*devlog</h2>
 
  <p> Creating in the Chaos. 
  This website is in a constant state of change.<br>
  It is a testiment to my commitment for technical self-reliance.</p>


<div class="home">

<div class="posts">
  {% for post in paginator.posts %}
<div class="post py3">
  <p class="post-meta">{{ post.date | date: '%B %-d, %Y' }}</p>
  <a href="{{ post.url | prepend: site.baseurl }}" class="post-link"><h3 class="h1 post-title">{{ post.title }}</h3></a>
  <p class="post-summary">
    {% if post.summary %}
    {{ post.summary }}
    {% else %}
    {{ post.excerpt }}
    {% endif %}
  </p>
</div>
  {% endfor %}
</div>

</div>
</body>
</html>


